.row{
  margin: 0 auto;
}
.form{
  width: 100%;
}
.form-group{
  display: flex;

}


.form-control{
  margin: 0 auto;
  padding-right: 100px;
}
#submit{
  width: 30%;
  background-color: lightblue;
}
#submit:hover{
  color: white;
  background-color: black;
}
h1{
  text-align: center;
  padding-bottom: 2%;
}
.label{
  font-size: 40%;
}
.space{
  padding-right: 3%;
}
